body {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;;
  text-transform: none;
  font-style: normal;
  font-variation-settings: 'pnum' 0;
}
a {
  text-decoration: underline;
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: #1565EF;
}

.logos>img {
  padding: 0 10px 0 10px;
}

nav {
  background-color: #F9F4F0;
  /* padding: 8px 24px 14px 24px; */
}

.navbar {
  display: flex;
  min-height: 126px;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.navbar-brand-wrapper a {
  text-decoration: none;
}


.brand {
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.4px;
  color: #1B1B1B;
  padding-top: 12px;
  padding-left: 1.5rem;
  margin-left: 14px;
}

.brand-logo {
  display: flex;
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
  margin-right: 14px;
}

.brand-logo span {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -0.4px;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}
#login-button {
  background-color: #3E4DED;
  border:none;
  font-size: 16px;
  color: white;
  text-decoration: none;
}

#login-button>img {
  color: white;
}

h1.lead {
  font-size: 24px;
  font-weight: 600;
  margin-top: 40px;
}

.lead>a {
  text-decoration: underline;
}
.footer {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Public Sans', sans-serif;
}

/*bootstrap override */

button.btn-primary {
  background-color: #0B3D91;
}

.modal-footer {
  border: none;
}
